.form {
  &__calculation {
    border: none;
    margin: 0;
    padding: 0 0 50px 0;
  }
  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include desktop {
      flex-direction: column;
      gap: 44px;
      align-items: flex-start;
    }
  }
  &__col {
    display: flex;
    align-items: center;
    gap: 180px;
    @include desktop {
      gap: 200px;
    }
    @include tablet {
      gap: 85px;
    }
    @include phone {
      flex-direction: column;
      gap: 30px;
      align-items: flex-start;
    }
  }
  &__title {
    color: $grey;
    margin-bottom: 8px;
    @include phone {
      font-size: 14px;
    }
  }
  &__payment {
    font-family: 'nekst-blackregular', sans-serif;
    font-size: 54px;
    font-weight: 900;
    line-height: 48.6px;
    color: $grey;
    @include phone {
      font-size: 22px;
      line-height: 20px;
    }
  }
  &__button {
    font-family: 'nekst-blackregular', sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 900;
    padding: 18px 92px;
    @include desktop {
      padding: 18px 52px;
    }
    @include phone {
      font-size: 22px;
      line-height: 20px;
      padding: 22px 52px;
    }
    @media screen and (max-width: 328px) {
      padding: 22px 42px;
    }
  }
}
