.header {
  position: fixed;
  top: 0;
  z-index: 90;
  width: 100%;
  min-height: 90px;
  background-color: white;
  &__container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 21px 0;
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__name {
    opacity: .5;
    padding: 5px 0 5px 17px;
    border-left: 1px solid;
    @include phone {
      display: none;
    }
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__menu {
    margin-right: 40px;
    @media screen and (max-width: 860px) {
      margin-right: 5px;
    }
  }
  @include phone {
    min-height: 60px;
    background-color: #000;
  }
}
